<form class="c">
  <div *ngFor="let item of data.controls;  index as i;" class="c--r">
    <ng-container [formGroup]="item">
      <mat-form-field class="c--r-inp">
        <mat-label>Enter Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field class="c--r-inp">
        <mat-label>Enter Team Member</mat-label>
        <input matInput formControlName="member">
      </mat-form-field>
      <button mat-fab color="warn" class="c--r-btn my-fab" (click)="removeItem(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>
  </div>

  <button class="c-add-btn" mat-flat-button (click)="addItem()">+ADD MORE</button>
</form>